@import "../css/font-face.css";
$bace-font-family: vazirmatn;
$font-weight-thin: 200;
$font-weight-normal: 400;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-20: 20px;
$font-size-21: 21px;