$primary-color: #158cfa;
$primary-color-tint1: #1A73B1;
$dark-text-menu:  #343F4B;
$dark-text-title: #333333;
$dark-text-color: #4A4A4A;
$mid-text-footer: #8E8E93;
$mid-text-color: #9B9B9B;
$light-text: #fff;
$light-back-body: #f5f5f5;
$light-back-menu: #ececef;
$light-back: #fff;
$light-back-blue:#e8f2f9;
$border-color: #e0e0e0;
$gray-shadow: rgb(0 0 0 / 10%);
$blue-shadow: rgb(48 143 255 / 50%)

