@import "../css/font-face.css";
body {
  direction: rtl;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f5f5f5;
  font-family: vazirmatn;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.full-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 68px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.father {
  position: relative;
}

.app-icon {
  width: 80px;
  height: auto;
  border: 0.75px solid #e0e0e0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
}

.button {
  background: #158cfa;
  color: #fff;
  height: 28px;
  padding: 3px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 200;
}

.content h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  margin: 0;
  padding-left: 3px;
}
.content .pipeline {
  display: inline-block;
  border-right: 2px solid #4A4A4A;
  height: 16px;
}
.content span {
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  padding-right: 2px;
}
.content P {
  font-size: 12px;
  font-weight: 200;
  color: #9B9B9B;
  margin: 0;
}

.slider-arrow img.perv {
  height: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.slider-arrow img.next {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.section-title h2 {
  display: inline-block;
  font-size: 21px;
  font-weight: 200;
  color: #333333;
  margin: 0;
}
.section-title span {
  font-size: 15px;
  font-weight: 200;
  color: #158cfa;
}

.app-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 16px 0;
  border-bottom: 0.75px solid #e0e0e0;
}
.app-box .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.app-box .info .content h3 {
  font-size: 17px;
  font-weight: 200;
}
.app-box .info .content .pipeline {
  border-right: 1.2px solid #4A4A4A;
  height: 12px;
}
.app-box .info .content span {
  border-width: 1.4px;
  font-size: 17px;
  font-weight: 200;
}
.app-box .info .content p {
  padding-top: 4px;
  font-size: 11px;
}

.colemns {
  display: flex;
}
.colemns .col {
  width: 33.3%;
  margin: 0 10px;
}

.header {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .head-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header .head-bar .right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head-bar .right-side .logo {
  width: 115px;
  height: 30px;
  margin-left: 20px;
}
.header .head-bar .right-side .logo img {
  width: 100%;
}
.header .head-bar .right-side .main-menu ul {
  display: flex;
}
.header .head-bar .right-side .main-menu ul li {
  background-color: #ececef;
  padding: 7px 15px;
  margin-left: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 400;
}
.header .head-bar .right-side .main-menu ul li a {
  color: #343F4B;
}
.header .head-bar .left-side {
  display: flex;
  align-items: center;
}
.header .head-bar .left-side .install-button {
  background: #158cfa;
  color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 4px 8px 0 rgba(48, 143, 255, 0.5);
  margin-right: 18px;
}
.header .head-bar .left-side .search-icon img {
  width: 25px;
  height: 25px;
}

.ads-section {
  margin: 84px 0 20px;
}
.ads-section .announcement {
  display: flex;
  justify-content: center;
  background: #e8f2f9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 10px;
}
.ads-section .announcement a p {
  display: inline-block;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}
.ads-section .announcement a span {
  color: #1A73B1;
  font-size: 16px;
  font-weight: 400;
}

.hero-section {
  margin: 24px 0 30px;
}
.hero-section .slider .slider-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-section .slider .slider-list .slide {
  max-width: 450px;
  height: auto;
  border-bottom: 0.75px solid #e0e0e0;
  margin: 0 10px;
}
.hero-section .slider .slider-list .slide a img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
}
.hero-section .slider .slider-list .slide a .content {
  padding: 5px 10px 10px;
}

.popular-app-section {
  margin: 50px 0;
}/*# sourceMappingURL=style.css.map */