@import "../sass/variables";
@import "../sass/reset";
@import "../sass/typography";
@import "../sass/global";
@import "../sass/header";
@import "../sass/footer";

.ads-section {
    margin: 84px 0 20px;

    .announcement {
        display: flex;
        justify-content: center;
        background: $light-back-blue;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        padding: 10px;

        a {
            p {
                display: inline-block;
                color: $dark-text-color;
                font-size: $font-size-16;
                font-weight: $font-weight-thin;
                margin: 0;
            }

            span {
                color: $primary-color-tint1;
                font-size: $font-size-16;
                font-weight: $font-weight-normal;
            }
        }
    }
}

.hero-section {
    margin: 24px 0 30px;

    .slider {

        .slider-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .slide {
                max-width: 450px;
                height: auto;
                border-bottom: .75px solid $border-color;
                margin: 0 10px;

                a {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 14px;
                        -webkit-border-radius: 14px;
                        -moz-border-radius: 14px;
                        -ms-border-radius: 14px;
                        box-shadow: 0 0px 5px 0 $gray-shadow;
                    }

                    .content {
                        padding: 5px 10px 10px;
                    }
                }
            }
        }
    }
}

.popular-app-section {
    margin: 50px 0;
}

@import "../sass/responsive";